*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
body{
  background-color: black;
  color:white;
}

/*computadoras de escritorio*/
@media only screen and (min-width:1081px){
.nav-main{
width:100%;
height:100%;
background:#000000;
display:grid;
grid-template-columns: repeat(6,1fr);
grid-auto-rows:minmax(100px, auto);
grid-row-gap: 20px;

}

.branding{
  font-size:100px;
  grid-column: 1/6;
  text-align: center;
  margin-left: 100px;
}
.fa-bars{
  margin-top: 40px;
  margin-right: 50px;
  font-size:3em;
  color: rgba(250,250,250, .3);
}
.fa-bars:hover{
  color: rgb(250,250,250);
}
.brand{
  width:500px;
  height:500px;
  margin-top: 50px;
}
.title{
  font-size: 60px;
  grid-column: 1/7;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items:center; 	
}
.sr{
  grid-column: 2;
  margin-left: 100px;
}
.sugar{
  grid-column:4;
  margin-right:0px;
}

.title{
  font-size: 60px;
  grid-column: 1/7;
  text-align: center;
}
.nav-bar-side{
  position:absolute;
  left:8%;
  top:15%;
  background: rgba(0,0,0, .7);
  width:85%;
  height:85%;
  transform:translateY(-1200px);
  transition:transform .5s;
  padding:20px 50px;
  color: #ffffff;
  text-align: center;
}
.nav-bar-side a{
  color:#ffffff;
  text-decoration: none;
  font-size:30px;
}
.nav-bar-side a:hover{
  color:rgba(250,250,250, .7);
  text-decoration: underline;
}
.nav-bar-side li{
  list-style-type: none;
}
.nav-bar-side.show{
  transform: translateY(-20px)
}

}

/*Laptop y tabletas*/
@media only screen and (min-width:750px) and (max-width:1080px){
.nav-main{
width:100%;
height:100%;
background:#000000;
display:grid;
grid-template-columns: repeat(6,1fr);
grid-auto-rows:minmax(100px, auto);
grid-row-gap: 20px;

}

.branding{
  font-size:100px;
  grid-column: 1/6;
  text-align: center;
  margin-left: 100px;
}
.fa-bars{
  margin-top: 40px;
  margin-right: 50px;
  font-size:3em;
  color: rgba(250,250,250, .3);
}
.fa-bars:hover{
  color: rgb(250,250,250);
}
.brand{
  width:350px;
  height:350px;
  margin-top: 10px;
}

.title{
  font-size: 60px;
  grid-column: 1/7;
  text-align: center;
}

.sr{
  grid-column: 2;
  margin-left: 100px;
}
.sugar{
  grid-column:4;
  margin-right:0px;
}

.title{
  font-size: 60px;
  grid-column: 1/7;
  text-align: center;
}
.nav-bar-side{
  position:absolute;
  left:8%;
  top:10%;
  background: rgba(0,0,0, .7);
  width:85%;
  height:80%;
  transform:translateY(-1200px);
  transition:transform .5s;
  padding:20px 50px;
  color: #ffffff;
  text-align: center;
}
.nav-bar-side a{
  color:#ffffff;
  text-decoration: none;
  font-size:30px;
}
.nav-bar-side a:hover{
  color:rgba(250,250,250, .7);
  text-decoration: underline;
}
.nav-bar-side li{
  list-style-type: none;
}
.nav-bar-side.show{
  transform: translateY(-20px)
}

}

/*smarth phones*/
@media only screen and (min-width:360px) and (max-width:749px){
.nav-main{
height:100%;
display:grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: minmax(100px, auto);

}
.branding{
grid-column: 1/5 ;
grid-row: 1;
font-size:45px;
display:flex;
justify-content:center;
align-items:center;
}
.nav-bar{
grid-column: 1/5;
grid-row:2;
}
.nav-bar{
display:grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows:minmax(100px, auto);
}
.nav-bar a{
color:rgba(250,250,250, .3);
}
.nav-bar a:hover{
color: #ffffff;
}
.somos{
grid-column:1;
grid-row:1;
display:flex;
justify-content:center;
}
.contacto{
grid-column:2;
grid-row:1;
display:flex;
justify-content:center;
}
.ubicacion{
grid-column:3;
grid-row: 1;
display:flex;
justify-content:center;
}
.trayecto{
grid-clomun:4;
grid-row:1;
display:flex;
justify-content:center;
}
.brand{
width:300px;
margin-top:30px;

}
.sr{
grid-column:1/5;
grid-row:2;
display:flex;
justify-content:center;
margin-top:20px;
}
.sugar{
grid-column:1/5;
grid-row:3;
display:flex;
justify-content:center;
}
.title{
grid-column:1/5;
grid-row:4;
font-size:25px;
display:flex;
justify-content:center;
margin-top:10px;
}

}
